.my-box{
    /* width:800px;
    height:800px; */
    height: 100%;
    width: 100%;
    // padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow-y: scroll; */
}
.svg-box{
    height:90%;
    width:90%;
}

.img-responsive{
    /* height:90%;
    width:50%; */
    height:100%;
    width:100%;
    // padding-top: 10px;

    // padding:10px;
}

@media screen and (max-width: 1600px){
    .my-box{
        white-space: nowrap;
    }
    .svg-box{
        overflow-x: scroll;
    }
}