.my-box{
    height:100%;
    width: 100vw;
    /* background-color: rgba(0,0,0,0.4); */
    /* padding:5%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #cdcdcd ; */
    background-color: transparent;
    /* border-bottom: black solid 2px;; */
    /* background-image: radial-gradient(circle, white, #cdcdcd, black 80%); */
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-out;

}

.restaurant-field{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.tables{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description{
    height: 100%;
    width: 50%;
}

.book-table-room{
    height:70%;
    width:70%;
    /* border: 2px solid #cdcdcd; */
    /* background-color: #dedede; */
    background-color: rgba(0,0,0,0.8);
    -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
    margin :10px;
    border: 2px solid black;
}

@keyframes fadeIn{
    0% {opacity : 0 }
    100% {opacity: 1}
}

@keyframes heightWrap{
    0% {height : 0 }
    100% {height: auto}
}